input {
	outline:  none !important;
}

html { width: 100%; }

* { -webkit-text-size-adjust: none; }

hr {
  border: none;
  border-top: solid 1px rgb(51, 51, 51);
}

body {
	font: 13px/19px Arial, Helvetica, sans-serif;
	color: #ecedef;
	position: relative;
	background: #334960;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
}

p { margin-bottom: 20px; }

img { max-width: 100%; }

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

/*links*/
a {
	text-decoration: none;
	color: inherit;
	outline: none;
	        transition: 0.5s ease;
	     -o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

a:hover { color: #334960; }

/*preclass*/
.img_inner {
	max-width: 100%;
	  -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
      -o-box-sizing: border-box;
         box-sizing: border-box;
 position: relative;
}


/*header*/
header {
	display: block;
	position: fixed;
	z-index: 999;
	left: 0;
	right: 0;
	padding-bottom: 15px;
	top: 0;
	overflow: hidden;
	background-color: #334960;
	        transition: 0.2s ease;
	     -o-transition: 0.1s ease;
	-webkit-transition: 0.2s ease;
}

.logo {
  background: url(../images/logo-novo.png) no-repeat left top;
	display: block;
	float: left;
	overflow: hidden;
	margin-top: 30px;
	width: 188px;
	height: 43px;
	text-indent: -100%;
	        transition: 0s ease;
	     -o-transition: 0s ease;
	-webkit-transition: 0s ease;
}


/*Content*/
.content {
	padding: 125px 0 180px 0;
	text-align: center;
	position: relative;
}

.content-page1 {
  padding: 85px 0 0 0 !important;
}

.content-page5 {
  padding-bottom: 50px !important;
}

.content:after {
	display: block;
	position: absolute;
	content: '';
	z-index: 1;
	width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 37px 50px 0 50px;
  border-color: #334960 transparent transparent transparent;
	left: 50%;
	margin-left: -50px;
	top: 0;
}

//Fancy box youtube
.fancybox-media {
  background: url(../images/bt-assista-video.png) no-repeat left top;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  bottom: 90px;
  width: 300px;
  height: 76px;
}

#page3:after {
	border-color: #f0f0f0 transparent transparent transparent;
}

#page4:after {
	border-color: #d9ecf4 transparent transparent transparent;
}

#page5:after {
	border-color: #f0f0f0 transparent transparent transparent;
}

#page1 {
	padding-bottom: 180px;
}

.current .hover {
  top: 0 !important;
}


//Banner
.banner {
  position: relative; overflow: auto;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  padding: 85px 0 190px 0;
}

.banner1 {
  background-image: url(../images/banner.jpg);
}

.banner2 {
  background-image: url(../images/banner-2.png);
}

.banner3 {
  background-image: url(../images/banner-3.png);
}

.banner4 {
  background-image: url(../images/banner-4.png);
}


.banner ul li {
  display: block;
  float: left;
  padding: 120px 0 300px 0;
  min-height: 200px;
  width: 100%;
}

.banner h2 {
	font-size: 60px;
	font-weight: normal;
	line-height: 1em;
	text-align: center;
	margin: 0 auto;
  width: 800px;
}

.banner .dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 230px;
}

.banner .dots li {
  background: #fff;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0 4px;
  text-indent: -999em;
  border-radius: 50%;
  cursor: pointer;
  opacity: .4;

  -webkit-transition: background .5s, opacity .5s;
     -moz-transition: background .5s, opacity .5s;
          transition: background .5s, opacity .5s;
}

.banner .dots .active {
  border: solid 2px rgb(63, 159, 201);
  background: #fff;
  opacity: 1;
  height: 23px;
  width: 23px;
}

#page2 {
	background-color: #f0f0f0;
}

header.page2 {
	background-color: #334960;
}

#page3 {
	background-color: #d9ecf4;
	padding-top: 150px;
}

header.page3 {
	background-color: #334960;
}

#page4 {
	background-color: #f0f0f0;
	padding-bottom: 190px;
}

header.page4 {
	background-color: #334960;
}

#page5 {
	background-color: #d9ecf4;
}

.slogan {
  color: #333;
  font-size: 48px;
  font-weight: bold;
	margin-bottom: 50px;
}

.text1 {
	font-size: 24px;
	line-height: 30px;
	color: #333333;
}

.text2 {
	font-size: 16px;
	line-height: 22px;
	color: #333333;
}

.text3 {
	font-size: 24px;
	line-height: 30px;
	color: #333333;
	text-align: left;
}

.text4 {
	font-size: 16px;
	line-height: 22px;
	color: #333333;
	text-align: left;
}

.box-title {
  font-size: 28px;
  line-height: 30px;
  color: rgb(51, 51, 51);
  padding-top: 12px;
  padding-bottom: 12px;
}

/************Footer***********/
.copy {
	padding: 40px 0 20px 0;
	font-size: 12px;
}

#toTop {
	display: none;
	position: fixed;
	bottom: 40px;
	overflow: hidden;
	width: 45px;
	height: 45px;
	border: none;
	text-indent: -100%;
	z-index: 999;
	right: 30px;
	background: url(../images/totop.png) no-repeat left top;
	        transition: 0s ease;
       -o-transition: 0s ease;
	-webkit-transition: 0s ease;
}

#toTop:hover {
	background-position: right 0;
}

.thumbs{
	width: 680px;
	margin: 60px auto 35px;
	text-align: center;
}

.thumbs a{
	width:120px;
	height:120px;
	display:inline-block;
	border:7px solid #303030;
	box-shadow:0 1px 3px rgba(0,0,0,0.5);
	border-radius:4px;
	margin: 6px 6px 40px;
	position:relative;
	text-decoration:none;

	background-position:center center;
	background-repeat: no-repeat;

	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
}

.doc h3 {
  color: rgb(63, 159, 201);
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  margin-top: 15px;
}

.doc p {
  margin-bottom: 4px;
  font-size: 16px;
	line-height: 22px;
	color: #333333;
	text-align: left;
}

.doc small {
  display: block;
  margin-bottom: 8px;
  color: #666;
  text-align: left;
}
